#QN 1
 The 'def' keyword is used to create a function.

In [11]:
def odd_num():
  oddnum = []
  for i in range (1,26):
    if i %2 != 0 :
      oddnum.append(i)
  return oddnum
print(odd_num())

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

# QN 2
To pass variable number of positional arguments, *args is used . Similarly , to pass variable number of key-value arguments, **kwargs is used.

In [12]:
# A function to return the product of the numbers passed as arguments
def prod(*args):
  a = 1
  for i in args:
    a = i * a
  return a

In [13]:
prod(3,4,5,8,10)

4800

#QN 3
An iterator is a tool used for efficient access to elements in a sequence one at a time.The initialization method for an iterator is typically __iter__() and the method to iterate is __next__().

In [14]:

my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
itera = iter(my_list)
for _ in range(5):
    element = next(itera)
    print(element)

2
4
6
8
10

# QN 4
Generator function is a function that throws output without storing data in the memory. "yeild" is used in generator function instead of "return" to produce series of values.

In [15]:
def genseq(n):
  for i in range(n):
    yield i**3

In [16]:
for  a in genseq(10):
  print(a)

0
1
8
27
64
125
216
343
512
729

#QN 5

In [22]:
def prime_num(num, pn):
    for i in pn:
        if num % i == 0:
            return False
    return True

def prime_list():
    pn = []
    input_num = 2
    while input_num < 1000:
        if prime_num(input_num, pn):
            yield input_num
            pn.append(input_num)
        input_num += 1
pl = prime_list()
for _ in range(20):
    print(next(pl))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71