#QN 1

In [44]:
import re

In [45]:
import re

def check_password(password):
    if len(password) != 10:
        return "Invalid Password"

    uppercase_count = sum(1 for char in password if char.isupper())
    lowercase_count = sum(1 for char in password if char.islower())

    if uppercase_count < 2 or lowercase_count < 2:
        return "Invalid Password"

    if not re.search(r'\d', password) or len(re.findall(r'[_@$]', password)) < 3:
        return "Invalid Password"

    return "Valid Password"

In [46]:
check_password("ajdakjqiw132")

'Invalid Password'

#QN 2

In [47]:
# Check if the string starts with a particular letter.
check = lambda string,letter : string[0]==letter
print(check("Pwskills","P"))
print(check("Pwskills","p"))

True
False

In [48]:
#Check if the string is numeric.
numeric = lambda i : i.isdigit()
print(numeric("pwskills2"))

False

In [49]:
#Sort a list of tuples having fruit names and their quantity. [("mango",99),("orange",80), ("grapes", 1000)-
l1 = [("mango",99),("orange",80), ("grapes", 1000)]

In [50]:
sorted_fruits = sorted(l1 , key = lambda x : x[1] )
print(sorted_fruits)

[('orange', 80), ('mango', 99), ('grapes', 1000)]

In [51]:
#Find the squares of numbers from 1 to 10.
l1 = list(range(1,11))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
square = list(map(lambda x : x**2 ,l1))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
#Find the cube root of numbers from 1 to 10Y
c1 = list(range(1,11))

In [54]:
cube_root = list(map(lambda x : x**1/3 , c1))
print(cube_root)

[0.3333333333333333, 0.6666666666666666, 1.0, 1.3333333333333333, 1.6666666666666667, 2.0, 2.3333333333333335, 2.6666666666666665, 3.0, 3.3333333333333335]

In [55]:
#Check if a given number is even
check1 = lambda x : x%2 == 0
check1(123)

False

In [56]:
#Filter odd numbers from the given list.[1,2,3,4,5,6,7,8,9,10]
l2 = list(range(1,11))
odd_num = list(filter(lambda x : x % 2 != 0 ,l1))
print(odd_num)

[1, 3, 5, 7, 9]

In [57]:
#Sort a list of integers into positive and negative integers lists.
l3 = [1,2,3,4,5,6,-1,-2,-3,-4,-5,0]
posi_int = list(filter (lambda x : x > 0 , l3))
nega_int = list(filter (lambda x : x < 0 , l3))
print(posi_int)
print(nega_int)

[1, 2, 3, 4, 5, 6]
[-1, -2, -3, -4, -5]