<a href="https://colab.research.google.com/github/kcashmit0/Ineuron-DSM/blob/Classwork/INEURON(start_to_5th_feb)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TUPLES

In [ ]:
#Tuple (parenthesis)
t1 = (1,2,3,"ash","mit",True)

In [ ]:
t1[3]

'ash'

In [ ]:
t1[::-1]#reversing

(True, 'mit', 'ash', 3, 2, 1)

In [ ]:
t1 = t1[::-1]

In [ ]:
t1[0:3]#Indexing and slicing has no differnece with list

(True, 'mit', 'ash')

In [ ]:
t1.count(3)#How many times 3 is present

1

In [ ]:
t1.count(True)#system has stored true as boolean 1

2

In [ ]:
t1.index(1)

0

In [ ]:
t1

(True, 'mit', 'ash', 3, 2, 1)

In [ ]:
#Item assignment is not possible for tuple , list is mutable whereas tuple is immutable
for i in t1:
  print(t1,type(i))

(True, 'mit', 'ash', 3, 2, 1) <class 'bool'>
(True, 'mit', 'ash', 3, 2, 1) <class 'str'>
(True, 'mit', 'ash', 3, 2, 1) <class 'str'>
(True, 'mit', 'ash', 3, 2, 1) <class 'int'>
(True, 'mit', 'ash', 3, 2, 1) <class 'int'>
(True, 'mit', 'ash', 3, 2, 1) <class 'int'>

In [ ]:
t2 = (2,3,4)

In [ ]:
t2*2

(2, 3, 4, 2, 3, 4)

In [ ]:
min(t2)#min or max element

2

In [ ]:
t1 = (1,2,3)
t2 = (2,3,4)

In [ ]:
t3 =(t1,t1,t2)#Keeping tuples inside a tuple

In [ ]:
t3

((1, 2, 3), (1, 2, 3), (2, 3, 4))

In [ ]:
del t1 # deleting tuple

In [ ]:
5 in t2 #checking availaibility

False

# SETS - stores unique information

In [ ]:
s = {}#inside curly bracket

In [ ]:
type(s)

dict

In [ ]:
s1 = {1,2,3,4}

In [ ]:
type(s1)

set

In [ ]:
s2 = {1,1,12,3,4,4,3,98}

In [ ]:
s2 # no duplicacy , it stores unique values.

{1, 3, 4, 12, 98}

In [ ]:
# conversion of set into list
l = list(s2)

In [ ]:
tuple(s2)

(1, 98, 3, 4, 12)

In [ ]:
set (l)# unique element

{1, 3, 4, 12, 98}

In [ ]:
# list cannot be stored inside set due to unhashability but can store tuple due to mutability of list.
s3 = (1,2,3,(1,2,3,4))

In [ ]:
s3

(1, 2, 3, (1, 2, 3, 4))

In [ ]:
# set indexing is not possible unlike tuple and list

In [ ]:
s4 = {1,2,3,"ash","kc"}

In [ ]:
for i in s4:
  print(i)

1
2
3
ash
kc

In [ ]:
s4.add(32) # elemnets can be added but same element is not added

In [ ]:
s4

{1, 2, 3, 32, 'ash', 'kc'}

In [ ]:
len(s4)

6

In [ ]:
s4.pop()

32

In [ ]:
s4.pop()#removed

1

In [ ]:
s4

{2, 3, 'ash', 'kc'}

In [ ]:
s4.clear()

In [ ]:
s4# all elements are removed

set()

In [ ]:
s8 = {1,2,3,4}
s9 = {1,2,3,5}

In [ ]:
s8.difference(s9)# shows difference in elements

{4}

In [ ]:
s9.difference(s8)

{5}

# DICTIONARY -  stores key and a value

In [ ]:
d = {}

In [ ]:
type(d)

dict

In [ ]:
d1 ={"name":"ash","num":83939,"age":18}# key can be float, int, string, bool

In [ ]:
d1#key cannot be special character like *#$@

{'name': 'ash', 'num': 83939, 'age': 18}

In [ ]:
d1 = {"name":"ash","name":"kc"}

In [ ]:
d1# key cannot be repeated like dictionary

{'name': 'kc'}

In [ ]:
# list cannot be taken as key
# tuple can be taken as key
# set cannot be taken as key
# dic cannot be taken as key
d9 = {(1,2,3):"Ash"}

In [ ]:
d9

{(1, 2, 3): 'Ash'}

In [ ]:
# list can be taken as value
# tuple can be taken as value
# set can be taken as value
#dic can be taken as value ( NESTED DICTIONARY)

d3 = {"family":["anu","mahesh","amisha"]}

In [ ]:
d3

{'family': ['anu', 'mahesh', 'amisha']}

In [ ]:
d4 = {"batch":["dsm","webdev"],"Startdate":(28,29,40),"teach":{"krish","sudh"}}

In [ ]:
d4

{'batch': ['dsm', 'webdev'],
 'Startdate': (28, 29, 40),
 'teach': {'krish', 'sudh'}}

In [ ]:
d4["timing"] = (8,8,8)# adding new key

In [ ]:
d4

{'batch': ['dsm', 'webdev'],
 'Startdate': (28, 29, 40),
 'teach': {'krish', 'sudh'},
 'timing': (8, 8, 8)}

In [ ]:
d4["batch"]# indexing

['dsm', 'webdev']

In [ ]:
d4["school"]=("united")

In [ ]:
# DATA MANIPULATION
d4["school"].upper()

'UNITED'

In [ ]:
d4.keys()

dict_keys(['batch', 'Startdate', 'teach', 'timing', 'school'])

In [ ]:
d4.values()

dict_values([['dsm', 'webdev'], (28, 29, 40), {'krish', 'sudh'}, (8, 8, 8), 'united'])

In [ ]:
list(d4.values())

[['dsm', 'webdev'], (28, 29, 40), {'krish', 'sudh'}, (8, 8, 8), 'united']

In [ ]:
list(d4.items())

[('batch', ['dsm', 'webdev']),
 ('Startdate', (28, 29, 40)),
 ('teach', {'krish', 'sudh'}),
 ('timing', (8, 8, 8)),
 ('school', 'united')]

In [ ]:
d5 = d4.copy()# deep copy

In [ ]:
d5

{'batch': ['dsm', 'webdev'],
 'Startdate': (28, 29, 40),
 'teach': {'krish', 'sudh'},
 'timing': (8, 8, 8),
 'school': 'united'}

In [ ]:
del d4["batch"]# affects just d4 but not d5

In [ ]:
d4

{'Startdate': (28, 29, 40),
 'teach': {'krish', 'sudh'},
 'timing': (8, 8, 8),
 'school': 'united'}

In [ ]:
d5

{'batch': ['dsm', 'webdev'],
 'Startdate': (28, 29, 40),
 'teach': {'krish', 'sudh'},
 'timing': (8, 8, 8),
 'school': 'united'}

In [ ]:
d4.pop("teach")#removal of key

{'krish', 'sudh'}

In [ ]:
d5.fromkeys((1,2,3),"v,d,c")

{1: 'v,d,c', 2: 'v,d,c', 3: 'v,d,c'}

In [ ]:
d7 = {"name":"ash","cas":"kc"}
d8 = {"nam":"mit","class":"13"}

In [ ]:
d7.update(d8)# original values + values from other dic

In [ ]:
d7

{'name': 'ash', 'cas': 'kc', 'nam': 'mit', 'class': '13'}

In [ ]:
# DIC COMPREHENSION
d2 = {a : a**3 for a in range (1,6)}

In [ ]:
import math
{i : math.log10(i) for i in range (1,6)}

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189}

In [ ]:
"name" in d7

True

In [ ]:
d2

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
for i in d2.keys():
  if i%2 == 0:
    print(d2[i])

8
64

# FUNCTIONS

In [ ]:
def test():
    pass

In [ ]:
def test1():
  print("this is my first func")

In [ ]:
test1()# usability and mobility

this is my first func

In [ ]:
def ts():
  return "this is return"

In [ ]:
ts() + " ash"#use always return not a print in function

'this is return ash'

In [ ]:
def tst():
  return 1,2,"hello",0

In [ ]:
tst()#return is always in the form of tuple

(1, 2, 'hello', 0)

In [ ]:
a = 1,2,3,4,5

In [ ]:
a,b,c,d = 1,2,34.44,False

In [ ]:
a

1

In [ ]:
d

False

In [ ]:
tst()[3]#indexing

0

In [ ]:
def test4():
  a = 3*4 +5
  return a

In [ ]:
test4()

17

In [ ]:
type(test4())

int

In [ ]:
def ts1(a,b):
  c = a + b
  return c

In [ ]:
ts1(87,12)

99

In [ ]:
ts1("ash","mit")#concatenation

'ashmit'

In [ ]:
ts1([1,2,3,4],[323,323])# using list

[1, 2, 3, 4, 323, 323]

In [ ]:
ts1(b = "ash",a ="mit")#reversing

'mitash'

In [ ]:
l = [1,23,4,6,5,"pw","skills",[1,3,45,6,12]]

In [ ]:
def ts(a): # function which will give all numeric output
  n = []
  for i in a:
    if type(i)== int or type(i) ==float:
      n.append(i)
  return n

In [ ]:
ts(l)

[1, 23, 4, 6, 5]

In [ ]:
def t(a):# for nested list
  m = []
  for b in a:
    if type(b) == list :
      for c in b:
        if type (c)== float or type (c)== int:
          m.append(c)
    else:
      if type(b)==int or type(b)==float:
        m.append(b)
  return m

In [ ]:
t(l)

[1, 23, 4, 6, 5, 1, 3, 45, 6, 12]

In [ ]:
def t2(a,b,c,d,e):
  pass

In [ ]:
def t3(*args):#it can take any number of argument
  return args

In [ ]:
t3(1,2,3,45,6,6)

(1, 2, 3, 45, 6, 6)

In [ ]:
# You can take any word but *..... and return .....

In [ ]:
def t4(*ash,a):
  return ash,a

In [ ]:
t4(1,23,4, a="hi")

((1, 23, 4), 'hi')

In [ ]:
def ts5(*args):
  l = []
  for i in args:
    if type(i) == tuple:
      l.append(i)
  return l

In [ ]:
ts5(1,3,4,5,(8,9,10,1,2),"qwh")

[(8, 9, 10, 1, 2)]

In [ ]:
# for dictionaries
def t(**kwargs):
  return kwargs

In [ ]:
t8 = t(a=3,b="ash",c = ["as","asjd"])

In [ ]:
def a(**arg):
  l=[]
  for i in arg.values():
    if type(i)== list:
      for j in i:
        if type(j)==str:
          l.append(j)
    else:
      if type(i)==str:
        l.append(i)
  return l

In [ ]:
a(a=3,b="ash",c = ["as","asjd"])

['ash', 'as', 'asjd']

In [ ]:
def t0(*args,**kwargs):
  return args,kwargs

In [ ]:
t0("a","b",1,c="asuh")

(('a', 'b', 1), {'c': 'asuh'})

# GENERATOR FUNCTION - instead of storing data it throws output.

In [ ]:
#Fibonacci series
#range fn is generator fn
def fib(n):
  a,b=0,1
  for i in range(n):
    yield a
    a,b = b,a+b

In [ ]:

for i in fib(8):
  print(i)

0
1
1
2
3
5
8
13

In [ ]:
n = 3
p = 2

In [ ]:
def test(n,p):
  return n**p

In [ ]:
test(1,2)

1

# Lambda Function

In [ ]:
#LAMBDA FUNCTION - shorthand function
a = lambda n,p : n**p #anonymous function

In [ ]:
a(3,2)

9

In [ ]:
add = lambda x,y : x+y

In [ ]:
add(2,8)

10

In [ ]:
c_to_f = lambda c : (9/5)*c+32

In [ ]:
c_to_f(100)

212.0

In [ ]:
max_two = lambda x,y : x if x>y else y

In [ ]:
max_two(4,34)

34

In [ ]:
s = "pwskills"
len_st = lambda s:len(s)

In [ ]:
len(s)

8

# Map, Reduce Filter Functions
map function does mapping of elements present inside iterable

In [307]:
l = [1,2,3,4,5]
def sq(x):
  return x**2

In [310]:
list(map(sq,l))# x ko thau ma 1 sq is function

[1, 4, 9, 16, 25]

In [316]:
#passing lambda
m = [1,2,3,4,5]
list(map(lambda x : x**2 ,m))

[1, 4, 9, 16, 25]

In [318]:
#converting to other types
list(map(lambda y : float(y*2) , m))

[2.0, 4.0, 6.0, 8.0, 10.0]

In [319]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

In [321]:
list(map(lambda x,y :x+y ,a,b ))# for 2 list

[7, 9, 11, 13, 15]

In [323]:
l1 = [2,4,6,8]
l2 = [1,3,5,7]
a = lambda x,y : x-y # assigning variable to lambda

In [324]:
list(map(a,l1,l2))

[1, 1, 1, 1]

In [327]:
s = "pwskills" # For strings

In [328]:
list(map(lambda x : x.upper() , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

REDUCE

In [332]:
# REDUCE it takes first argumnt as function and second as iterable varible
from functools import reduce
l = [1,2,3,4,5,6]
reduce(lambda x,y : x + y , l)

21

In [335]:
#3 parameter is not working
# 1 element will work
reduce(lambda x,y : x if x > y else y , l)# checking the maximum

6

FILTER

In [336]:
l = [1,2,3,4,5,6]

In [338]:
list(filter(lambda x :   x % 2 == 0 , l))

[2, 4, 6]

In [339]:
l2 = ["sudh","pwskills","kumar","bangalore","krish"]

In [340]:

list(filter(lambda x : len(x)<6 , l2))

['sudh', 'kumar', 'krish']